<%- include('partials/header') %>
    <div class="container">
        <h1>Help</h1>
        <p>Welcome to the Blood Report System. Use the navigation bar to start a new test, view previous reports, or get
            help.</p>
        <ul>
            <li><b>New Test:</b> Start a new blood test entry for a patient.</li>
            <li><b>Previous Reports:</b> View all previously generated reports.</li>
            <li><b>Help:</b> You are here! For further assistance, contact support@example.com.</li>
        </ul>
    </div>